apiVersion: apps/v1
kind: Deployment
metadata:
  name: realtime-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: realtime-service
  template:
    metadata:
      labels:
        app: realtime-service
    spec:
      containers:
        - name: realtime-service
          image: 'todo-realtime-microservices/realtime-service'
          ports:
            - containerPort: 8083
          resources:
            requests:
              memory: '128Mi'
              cpu: '125m'
            limits:
              memory: '128Mi'
              cpu: '125m'
          env:
            - name: RABBITMQ_URI
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: uri
---
apiVersion: v1
kind: Service
metadata:
  name: realtime-service
spec:
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: 8083
  selector:
    app: realtime-service
