apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-service
  template:
    metadata:
      labels:
        app: todo-service
    spec:
      containers:
        - name: todo-service
          image: todo-realtime-microservices/todo-service
          ports:
            - containerPort: 8082
          resources:
            requests:
              memory: '128Mi'
              cpu: '125m'
            limits:
              memory: '128Mi'
              cpu: '125m'
          env:
            - name: POSTGRES_URI
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: uri
          #     # Accessing an env variable from the app-config config map
          #     - name: TODO_SERVICE_HTTP_ADDR
          #       valueFrom:
          #           configMapKeyRef:
          #               key: TODO_SERVICE_HTTP_ADDR
          #               name: app-config
          # - name: JAEGER_ENDPOINT
          #   valueFrom:
          #       configMapKeyRef:
          #           key: JAEGER_ENDPOINT
          #           name: app-config
          # - name: RABBITMQ_URI
          #   valueFrom:
          #       secretKeyRef:
          #           name: rabbitmq-credentials
          #           key: uri
          # - name: STRIPE_WEBHOOK_KEY
          #   valueFrom:
          #       secretKeyRef:
          #           name: stripe-secrets
          #           key: stripe-webhook-key
---
apiVersion: v1
kind: Service
metadata:
  name: todo-service
spec:
  selector:
    app: todo-service
  ports:
    - port: 8082
      name: grpc
      targetPort: 8082
  type: ClusterIP
