apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-service
  template:
    metadata:
      labels:
        app: todo-service
    spec:
      containers:
        - name: todo-service
          image: todo-realtime-microservices/todo-service
          ports:
            - containerPort: 8082
          resources:
            requests:
              memory: '128Mi'
              cpu: '125m'
            limits:
              memory: '128Mi'
              cpu: '125m'
          env:
            - name: POSTGRES_URI
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: uri
            - name: RABBITMQ_URI
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-credentials
                  key: uri
---
apiVersion: v1
kind: Service
metadata:
  name: todo-service
spec:
  selector:
    app: todo-service
  ports:
    - port: 8082
      name: grpc
      targetPort: 8082
  type: ClusterIP
